{% extends 'base.html' %}

{% block body %}
Welcome to the Degree Planner
{% if user.is_authenticated %}
<p>Hello {{user.username}}</p>
<p><a href="{% url 'manager' %}">Go to the planner manager</a></p>
<p><a href="{% url 'auth_logout' %}?next=/planner/">Logout</a></p>
{% else %}
<p>Hello, please create an account before starting to use the Degree Planner</p>
<p><a href='{% url "registration_register" %}'>Register</a></p>
<p><a href="{% url 'auth_login' %}">Login</a></p>
{% endif %}
{% endblock %}
	