{% extends "base.html" %}
{% load staticfiles %}
{% block css/js %}
<script src="{% static 'js/manager.js' %}"></script>
<link href="{% static 'css/manager.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="container" style="padding:15px;">
	<h4 id="plan-message" style="font-weight:normal;">
			{% if plans %}
			You have the following plans:
			{% else %}
			You have no plans. Add some!
			{% endif %}
		</h4>
	<div id="plans" style="padding-left:10px; font-size:16px">
	{% if plans %} 
				{% include 'plan_list.html' %}
	{% endif %}
	</div>
	<center><img id='loading-wheel' src="{% static 'icons/loading-wheel.gif' %}"></center>
	<br>
	<p><a id="addlink" href='javascript:void(0)'>Add a plan</a></p>
</div>
{% include 'addplan.html' %}



{% endblock %}
