{% extends "base.html" %}
{% load staticfiles %}
{% block css/js %}
<script src="{% static 'js/manager.js' %}"></script>
<link href="{% static 'css/manager.css' %}" rel="stylesheet">
{% endblock %}
{% block body %}
<div id="container" style="padding:15px;">
	{% if plans %}
		You have the following plans: 
		<div id="plans-wrapper">
		{% include 'plan_list.html' %}
		</div>
		<center><img id='loading-wheel' src="{% static 'icons/loading-wheel.gif' %}"></center>
	
	{% else %}
		<h4 style="font-weight:normal;">You have no plans. Add some!</h4>
	{% endif %}
	<br>
	<p><a id="addlink" href='javascript:void(0)'>Add a plan</a></p>
</div>
{% include 'addplan.html' %}



{% endblock %}
