{% extends 'base.html' %}
{% load staticfiles %}
{% block css/js %}
<link href="{% static 'css/search.css' %}" rel="stylesheet">
<script src="{% static 'js/search.js' %}"></script>
{% endblock %}
{%block body %}
<form id='form' method='post' >
		{% csrf_token %}
		<ul id="search-form">
			<li>Search by name, department, or code:</br> <span id="searchbox">{{form.searchterm}}</span></li>
			<li>Undergraduate: {{form.undergraduate}}</li>
			<li>Graduate: {{form.graduate}}</li>
		</ul>
		
		
		
	</form>
<br>
<img id='loading-wheel' src="{% static 'icons/loading-wheel.gif' %}">
<div id="results-wrapper">
	
</div>


{% endblock %}
