* {

    background: #FFFFFF;
    font-family: sans-serif;


}

#title {

    background: #000000;
    text-align: center;
    color: white;
    height: 40px;
    font-size: 35px;
    margin: 5px;

}

#navbarcontainer {

    background: black;


}

#navbar li {

    display: inline;
    margin: 0;
    list-style-type: none;
    color: #FFFFFF



}

