{% load staticfiles %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Alejandro Desatnik</title>
    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
</head>
<body>
<body>
	<div class="container">
    <h2>My work</h2>
    <p style="font-size: 20px;">Here are some  things I've worked on.</p>
    <hr>
    <div class="content-box">
        <a href="/planner">
            <h3>Degree Planner</h3>
            <img style="margin-right:10px;width:250px;height:150px;float:left;border:solid;border-width:1px;"src="{% static 'PlannerScreen.png' %}">
        </a>
        <div  >
        	Degree Planner is a web application I built to help University of Chicago students plan their academic programs and select their classes. It uses the Django web framework as well as AJAX and JQuery.
        </div>
    </div>   
    <hr>
    <center>adesatnik (at) uchicago.edu</center>
    <center><a class="link" href="/" style="color:#021169; font-weight:bold;">Home</a></center>
</div>	
</body>
